body {
    --c: goldenrod;
    background-color: #151515;
    margin: 0;
    font-family: sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    color:var(--c);
}

/* Button: Bubbly */
/* Credit: https://codepen.io/comehope/pen/eKqZjy */
.btn--bubble {
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 0 1em 1em;
    cursor: pointer;
    background-color: transparent;
}

.btn--bubble span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn--bubble:hover {
    color: black;
}

.btn--bubble:hover span {
    transform: translateY(0) scale(2);
}

.btn--bubble span:nth-child(1) {
    --n: 1;
}

.btn--bubble span:nth-child(2) {
    --n: 2;
}

.btn--bubble span:nth-child(3) {
    --n: 3;
}

.btn--bubble span:nth-child(4) {
    --n: 4;
}


/* Button: Fancy */
/* Credit: https://codepen.io/electerious/pen/qPjbGm */
.btn--fancy {
	--offset: 10px;
	--border-size: 2px;
	
	display: block;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: transparent;
	color: var(--c);
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
}

.btn--fancy:hover {
    background: var(--c);
}

.btn--fancy:hover span {
    color: black;
}

.btn--fancy__horizontal, .btn--fancy__vertical {
    position: absolute;
	top: var(--horizontal-offset, 0);
	right: var(--vertical-offset, 0);
	bottom: var(--horizontal-offset, 0);
	left: var(--vertical-offset, 0);
	transition: transform .8s ease;
}

.btn--fancy__horizontal::before, .btn--fancy__vertical::before {
    content: '';
	position: absolute;
	border: inherit;
}

.btn--fancy__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
	border-top: var(--border-size) solid currentcolor;
	border-bottom: var(--border-size) solid currentcolor;
}

.btn--fancy__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
	bottom: calc(var(--vertical-offset) - var(--border-size));
	left: calc(var(--vertical-offset) * -1);
	right: calc(var(--vertical-offset) * -1);
}

.btn--fancy:hover .btn--fancy__horizontal {
    transform: scaleX(0);
}

.btn--fancy__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
	border-left: var(--border-size) solid currentcolor;
	border-right: var(--border-size) solid currentcolor;
}

.btn--fancy__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
	left: calc(var(--horizontal-offset) - var(--border-size));
	right: calc(var(--horizontal-offset) - var(--border-size));
}

.btn--fancy:hover .btn--fancy__vertical {
    transform: scaleY(0);
}